.modal-confirm__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 10px;
  padding: 30px;
  align-items: center;
  justify-content: center;
}

.modal-confirm__content .modal__message {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal-confirm__content .modal__actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-confirm__content .modal__actions .modal__action-delete {
  color: #ff4d00;
}

.modal-confirm__content .modal__actions button {
  background: none;
  border: none;
  outline: none;
  font-weight: 700;
  cursor: pointer;
}
