@font-face {
  font-family: "MyFont";
  src: url("/src/assets/fonts/CabinetGrotesk-Variable.ttf") format("truetype");
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "MyFont", sans-serif;
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}
